<ngp-gallery >
  <ngp-gallery-item [image]="image1"></ngp-gallery-item>
  <ngp-gallery-item [image]="image2"></ngp-gallery-item>
  <ngp-gallery-item [image]="image3"></ngp-gallery-item>
  <ngp-gallery-item [image]="image4"></ngp-gallery-item>
  <ngp-gallery-item [image]="image5"></ngp-gallery-item>
  <ngp-gallery-item [image]="image6"></ngp-gallery-item>
  <ngp-gallery-item [image]="image7"></ngp-gallery-item>
  <ngp-gallery-item [image]="image8"></ngp-gallery-item>





</ngp-gallery>

<ngp-lightbox >
</ngp-lightbox>
