
<div class="main-content">
  <div class="container-fluid">
      <div class="card">
          <div class="card-header card-header-danger">
              <h4 class="card-title">Client Details</h4>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <div class="card-body card-body-light">
                        <div class="text-left">
                            <!-- <button type="button" class="btn btn-dark" (click)="addingclient($event)"><i class="material-icons">add_circle_outline</i>Add Client</button> -->

                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead class="thead-dark text-primary">
                                        <!-- <th>ID</th> -->
                                        <th>Email</th>
                                        <!-- <th>Email</th>
                                        <th>Address</th>
                                        <th>Mobile</th> -->
                                        <th>Options</th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let client of clients">
                                          <td>{{ client.email }}</td>
                                          <!-- <td>{{ client.lname }}</td>
                                          <td>{{ client.email }}</td>
                                          <td>{{ client.phone }}</td> -->
                                          <td>
                                            <button type="submit" class="btn btn-danger" (click)="toDelete(client)">Delete</button>
                                            <!-- <button type="submit" class="btn btn-primary" (click)="toUpdate(client)">Update</button> -->
                                          </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
