<div class="section section-signup clear-filter" style="background-image: url('assets/img/cas/dims.jpeg'); background-repeat: no-repeat;
 background-size: 100%;
 background-position: center;" filter-color="black">

  <div class="container">
    <div class="row">

      <div class="col-sm-10">
        <div class="card card-signup" data-background-color="black" >
          <form class="form" (ngSubmit)="onSignUp(ff)" #ff="ngForm">
            <div class="header text-center">
              <h4 class="title title-up">Sign Up</h4>

            </div>

            <div class="card-body">

              <div class="input-group form-group-no-border"
                   [ngClass]="{'input-group-focus':focus===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text">  <i class="now-ui-icons users_circle-08"></i></span>
                </div>
                <input type="text"
                       class="form-control"
                       placeholder="Name"
                       name="name"
                       id="name"
                       (focus)="focus=true" (blur)="focus=false" ngModel>
              </div>

              <div class="input-group form-group-no-border"
                   [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons ui-1_email-85"></i></span>
                </div>
                <input type="text"
                       placeholder="e mail"
                       class="form-control"
                       name="email"
                       id="email"
                       (focus)="focus1=true" (blur)="focus1=false" ngModel/>
              </div>

              <div class="input-group form-group-no-border"
                   [ngClass]="{'input-group-focus':focus1===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                </div>
                <input type="text"
                       placeholder="Contact number"
                       class="form-control"
                       name="contactNum"
                       id="contactNum"
                       (focus)="focus1=true" (blur)="focus1=false" ngModel/>
              </div>

              <div class="input-group form-group-no-border"
                   [ngClass]="{'input-group-focus':focus2===true}">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="now-ui-icons text_caps-small"></i></span>
                </div>
                <input type="password"
                       placeholder="Password"
                       id="password"
                       name="password"
                       class="form-control"
                       (focus)="focus2=true" (blur)="focus2=false" ngModel/>
              </div>
              <!-- If you want to add a checkbox to this form, uncomment this code -->
              <!-- <div class="checkbox">
    <input id="checkboxSignup" type="checkbox">
    <label for="checkboxSignup">
    Unchecked
    </label>
    </div> -->
            </div>
            <div class="footer text-center">
              <button class="btn btn-neutral btn-round btn-lg" type="submit">Get Started</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
