
<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Appointment Details</h4>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card-body card-body-light">
                          <div class="text-left">
                              <!-- <button type="button" class="btn btn-dark" (click)="addingclient($event)">Add Client</button> -->
  
                              <div class="table-responsive">
                                  <table class="table table-striped">
                                      <thead class="thead-dark text-primary">
                                          <!-- <th>ID</th> -->
                                          <th>Email</th>
                                          <th>Service</th>
                                          <th>Date</th>
                                          <!-- <th>Time</th> -->
                                          <th>Options</th>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor="let appointment of appointments">
                                            <td>{{ appointment.email }}</td>
                                            <td>{{ appointment.bookingServices}}</td>
                                            <td>{{ appointment.bookingDate }}</td>
                                            <!-- <td>{{ appointment.markedate }}</td> -->
                                            <td>
                                              <button type="submit" class="btn btn-primary" (click)="toAccept(appointment)">Accept</button>
                                              <button type="submit" class="btn btn-danger" (click)="toDelete(appointment)">Delete</button>
                                            </td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  